[submodule "responsive-design"]
	path = responsive-design
	url = https://github.com/btuerker/responsive-design
[submodule "building-with-backgrounds-and-gradients"]
	path = building-with-backgrounds-and-gradients
	url = https://github.com/andreimorosan29/building-with-backgrounds-and-gradients
[submodule "css-frameworks-bootstrap"]
	path = css-frameworks-bootstrap
	url = https://github.com/andreimorosan29/css-frameworks-bootstrap
[submodule "css-preprocessors"]
	path = css-preprocessors
	url = https://github.com/btuerker/css-preprocessors.git
