<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="container">
      <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div class="introduce-yourself">
        <div class="header">
          <img
            src="https://lh3.googleusercontent.com/-5mNogt5EXdc/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3re6yDmMTTAmLLhS3ChKtbEMKWNQnA/photo.jpg?sz=46"
          />
          <h1>Burhan Tuerker</h1>
        </div>
        <div class="content" style="z-index=1;">
          <!-- <a href="/">Home</a> -->
          <!-- <a href="/blog/">Blog</a> -->
          <div class="typewriter">
            <h1>Software Engineer</h1>
          </div>
          <div class="links">
            <div class="site-links">
              <a href="#">BLOG</a>
              <a href="#">PORTFOLIO</a>
              <a href="#">CV</a>
            </div>
            <div class="social-links">
              <a class="twitter" href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a class="github" href="#">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a class="linkedin" href="#">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </body>
</html>
